.container {
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  color: var(--foreground);
}

.markdownContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  cursor: text;
}

.markdownContent h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdownContent p {
  margin-bottom: 0.5em;
}

.markdownContent ul, .markdownContent ol {
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}

.markdownContent ul {
  list-style-type: disc;
}

.markdownContent ol {
  list-style-type: decimal;
}
