.markdown-content h1 {
  font-size: 2em;
  font-weight: bold;
}

.markdown-content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.markdown-content h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.markdown-content h4 {
  font-size: 1em;
  font-weight: bold;
}

.markdown-content h5 {
  font-size: 0.83em;
  font-weight: bold;
}

.markdown-content h6 {
  font-size: 0.67em;
  font-weight: bold;
}